 <widget id="A6017476383128"  version="0.0.2">
    <name>看播</name>
    <description>
        看尽天下所有的电影
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        clyde
    </author>    <content src="index.html" />    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="true" />
	<preference name="debug" value="false"/>	<preference name="appCertificateVerify" value="false"/>  <preference name="querySchemes" value="mqq,mqqapi"/>	<!-- <preference name="statusBarAppearance" value="true"/> -->
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />  <!-- // 禁止所有弹出 -->  <!-- <preference name="forbiddenSchemes" value="*" /> -->  <!-- // 禁止除scheme1和scheme2以外的其它应用-->  <!-- <preference name="forbiddenSchemes" value="^wechat,^weixin,^alipay,^mqq,^wxpay" /> -->  <access origin="*"/>	<!-- For Android -->  <meta-data name="Mob-AppKey" value="2bb47af4b76ec"/>  <meta-data name="Mob-AppSecret" value="31a950fec5fed611b6927aa07313d455"/>

  <feature name="QQPlus">
     <param name="urlScheme" value="tencent1108903770" />
     <param name="apiKey" value="1108903770" />
  </feature>

  <!-- <preference name="querySchemes" value="weixin,wechat,mqq,alipay,alipays,cmbmobilebank" /> -->
</widget>