<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MOBAppKey</key>
	<string>2bb47af4b76ec</string>
	<key>MOBAppSecret</key>
	<string>31a950fec5fed611b6927aa07313d455</string>
</dict>
</plist>
